* {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
}

.alert {
  position: absolute;
  top: 5%;
  background-color: #a85a5a;
  padding: 0 15px;
  color: #fff;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.alert > h3 {
  letter-spacing: 0.4px;
}

.alert .btn-close {
  border: none;
  background-color: #ddd;
  color: #000;
  border-radius: 2px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.2s;
}

.alert .btn-close:hover {
  background-color: #00000000;
  color: #ddd;
}

.main {
  width: 100vw;
  height: 100vh;
  background-color: #201b2c;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.main .left {
  width: 50vh;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main .left > h1 {
  font-size: 1.8rem;
  color: #77ffc0;
}
.main .left .left-image {
  width: 35vw;
}

.main .right {
  width: 50vh;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.main .right .card-login {
  width: 60%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 30px 35px;
  border-radius: 20px;

  background: #2f2841;
  box-shadow: 0px 10px 40px #00000056;
}

.main .right .card-login > h2 {
  color: #00ff88;
  font-weight: 800;
}

.main .right .card-login .textfield {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 10px 0;
}

.main .right .card-login .textfield > input {
  width: 100%;
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 15px;

  background: #514869;
  color: #f0ffffde;
  font-size: 12pt;
  box-shadow: 0px 10px 40px #00000056;
  box-sizing: border-box;
}

.main .right .card-login .textfield > input::placeholder {
  color: #f0ffffde;
}

.main .right .card-login .textfield > label {
  color: #f0ffffde;
  margin-bottom: 10px;
}

.main .right .card-login .btn-login {
  width: 100%;
  padding: 16px 0;
  margin: 25px;
  border: none;
  outline: none;
  border-radius: 8px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 1.5px;
  color: #2b134b;
  background-color: #00ff88;
  box-shadow: 0px 10px 40px -12px #00ff8852;
  transition: 0.2s;
}

.main .right .card-login .btn-login:hover {
  filter: brightness(0.8);
}

@media only screen and (max-width: 950px) {
  .card-login {
    width: 85%;
  }
}

@media only screen and (max-width: 600px) {
  .main {
    flex-direction: column;
  }
  .main .left {
    display: none;
  }

  .main .right {
    width: 100%;
  }
}
